
body{
margin: auto;
padding: 0;
	background-color: #ffff99;
font-family: Verdana, sans-serif;
	
}
#menu{
	background-color: #ffff99;
	height: 112px;
	line-height: 112px;
	font-size: 20px; 
	padding-top: 5px;
}

ul{
	list-style-type: none;

	
}

ul li{
	display: inline-block;
	
}

#menu nav{
	float: left;
	
}


 nav ul li a{
	padding-right: 200px;
		text-decoration: none;
		color:#661800;
		padding-top: 25px;
	
}

 a:selected{
	color: #000;
}

#menu nav ul li a:hover{
color: #5d5d5d;

}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


#text{
    width: 70%;


}
#text p{
        
    margin-left: 415px;
}

footer p{
	font-size: 30px;
	background-color:#ffffb3;
	text-align: center;
	  color:#661800;
}