body{
margin: auto;
padding: 0;
	background-color: #ffff99;
font-family: Verdana, sans-serif;
	
}
#container{

}

#menu{
		background-color: #ffff99;
	height: 112px;
	line-height: 112px;
	font-size: 20px; 
	padding-top: 5px;
	
}

ul{
	list-style-type: none;

	
}

ul li{
	display: inline-block;
	
}

#menu nav{
	float: left;
	
}


 nav ul li a{
		padding-right: 200px;
		text-decoration: none;
		color:#661800;
		padding-top: 25px;
	
}

 a:selected{
	color: #000;
}

 nav ul li a:hover{
color: #5d5d5d;

}

footer p{
	font-size: 30px;
	background-color:#ffffb3;
	text-align: center;
	  color:#661800;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 78%;
  margin-left: 122px;
  color:#661800;
 
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h1{
	color:#661800;
	background-color: #dddddd;
	margin-left: 121px;
	padding-bottom: 21px;
	margin-right: 736px;
	padding-left: 7px;
	 border-radius: 5px;
}

span{
    position: relative;
}

button{
    position: absolute;
    margin-left: 114px;
    margin-top: 3px;
    width: 90px;
    height: 40px;
}